__Sources__
RedDetroit
SurvivalSkills
Test
DayZ_Samples
HRW
/H2A/GreenCounty/data/layers/**
/H2A/GreenCounty/data/layers_hiking/
/H2A/GreenCounty/data/usermap/**
/H2A/GreenCounty/data/gcpt/
/H2A/GreenCounty/navmesh/*.nm
/H2A/GreenCounty/props/*.p3d
/H2A/GreenCounty/roads/*.p3d
/H2A/GreenCounty/source/
/H2A/GreenCounty/world/*.wrp
*.c
*.xcf
*.spp
*.p3d
model.cfg
*.bak
*.obf
*.7z
*.zip
*.asi

